In [119]:
import pandas as pd
import numpy as np
import requests
import time
pd.set_option('display.max_columns', 500)

In [27]:
my_key = open("usda_api_key.txt", "r").read()
endpoint = "https://quickstats.nass.usda.gov/api/api_GET/"

In [105]:
states = ["AL","AK","AZ","AR","AS","CA","CO","CT","DE","DC","FL","GA","GU",
          "HI","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN",
          "MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","MP","OH",
          "OK","OR","PA","PR","RI","SC","SD","TN","TX","TT","UT","VT","VA",
          "VI","WA","WV","WI","WY"]

response_list = []
for s in states:
    for y in range(2010,2023):
        my_params = {"key":my_key, "sector":"CROPS", "group":"VEGETABLES", "state_alpha":s, "year":y}
        my_response = requests.get(endpoint, params = my_params).json()
        if list(my_response.keys())[0] =="data":
            d = pd.json_normalize(my_response, "data")
        else:
            d = pd.json_normalize(my_response)
        response_list.append(d)
        print(s,y)
        t = np.random.randint(20)
        time.sleep(t)
    
response_list[12:14]

my_states = ["AL","AK","AZ","AR","AS","CA","CO","CT","DE","DC","FL","GA","GU",
          "HI","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN",
          "MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","MP","OH",
          "OK","OR","PA","PR","RI","SC","SD","TN","TX","TT","UT","VT","VA",
          "VI","WA","WV","WI","WY"]
def get_usda_data(my_sector, my_group, my_key, my_states, start_year, end_year):
    response_list = []
    for s in my_states:
        for y in range(start_year,end_year):
            my_params = {"key":my_key, "sector":my_sector, "group":my_group, "state_alpha":s, "year":y}
            my_response = requests.get(endpoint, params = my_params).json()
            if list(my_response.keys())[0] =="data":
                d = pd.json_normalize(my_response, "data")
            else:
                d = pd.json_normalize(my_response)
            response_list.append(d)
            t = np.random.randint(50)
            time.sleep(t)

In [114]:
df_veg = pd.concat(response_list, ignore_index=True)

In [120]:
compression_opts = dict(method='zip', archive_name='vegetables.csv')  

df_veg.to_csv('vegetables.zip', index=False,compression=compression_opts)

In [118]:
df_veg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4513645 entries, 0 to 4513644
Data columns (total 40 columns):
 #   Column                 Dtype
---  ------                 -----
 0   source_desc            object
 1   county_ansi            object
 2   asd_desc               object
 3   load_time              object
 4   commodity_desc         object
 5   prodn_practice_desc    object
 6   asd_code               object
 7   reference_period_desc  object
 8   util_practice_desc     object
 9   country_code           object
 10  week_ending            object
 11  year                   float64
 12  unit_desc              object
 13  sector_desc            object
 14  location_desc          object
 15  Value                  object
 16  domain_desc            object
 17  state_fips_code        object
 18  end_code               object
 19  state_name             object
 20  freq_desc              object
 21  group_desc             object
 22  class_desc             object
 23  state_ansi             object
 24  watershed_desc         object
 25  zip_5                  object
 26  agg_level_desc         object
 27  congr_district_code    object
 28  county_name            object
 29  region_desc            object
 30  CV (%)                 object
 31  statisticcat_desc      object
 32  state_alpha            object
 33  county_code            object
 34  domaincat_desc         object
 35  short_desc             object
 36  country_name           object
 37  watershed_code         object
 38  begin_code             object
 39  error                  object
dtypes: float64(1), object(39)
memory usage: 1.3+ GB

In [121]:
df_veg.head()

,source_desc,county_ansi,asd_desc,load_time,commodity_desc,prodn_practice_desc,asd_code,reference_period_desc,util_practice_desc,country_code,week_ending,year,unit_desc,sector_desc,location_desc,Value,domain_desc,state_fips_code,end_code,state_name,freq_desc,group_desc,class_desc,state_ansi,watershed_desc,zip_5,agg_level_desc,congr_district_code,county_name,region_desc,CV (%),statisticcat_desc,state_alpha,county_code,domaincat_desc,short_desc,country_name,watershed_code,begin_code,error
0,SURVEY,,,2015-07-24 15:04:27.000,FOOD FISH,ALL PRODUCTION PRACTICES,,YEAR,ALL UTILIZATION PRACTICES,9000,,2010.0,$,ANIMALS & PRODUCTS,ALABAMA,"107,459,000",TOTAL,01,00,ALABAMA,ANNUAL,AQUACULTURE,CATFISH,01,,,STATE,,,,,SALES,AL,,NOT SPECIFIED,"FOOD FISH, CATFISH - SALES, MEASURED IN $",UNITED STATES,00000000,00,NaN
1,SURVEY,,,2015-07-24 15:04:27.000,FOOD FISH,"WATER, TAKEN OUT OF PRODUCTION",,JUL THRU DEC,ALL UTILIZATION PRACTICES,9000,,2010.0,ACRES,ANIMALS & PRODUCTS,ALABAMA,870,TOTAL,01,12,ALABAMA,MONTHLY,AQUACULTURE,CATFISH,01,,,STATE,,,,,AREA OF WATER,AL,,NOT SPECIFIED,"FOOD FISH, CATFISH, WATER, TAKEN OUT OF PRODUC...",UNITED STATES,00000000,07,NaN
2,SURVEY,,,2015-07-24 15:04:27.000,FOOD FISH,ALL PRODUCTION PRACTICES,,YEAR,ALL UTILIZATION PRACTICES,9000,,2010.0,$ / LB,ANIMALS & PRODUCTS,ALABAMA,(D),TOTAL,01,00,ALABAMA,ANNUAL,AQUACULTURE,"CATFISH, BROODSTOCK",01,,,STATE,,,,,PRICE RECEIVED,AL,,NOT SPECIFIED,"FOOD FISH, CATFISH, BROODSTOCK - PRICE RECEIVE...",UNITED STATES,00000000,00,NaN
3,SURVEY,,,2015-07-24 15:04:27.000,FOOD FISH,ALL PRODUCTION PRACTICES,,YEAR,ALL UTILIZATION PRACTICES,9000,,2010.0,$,ANIMALS & PRODUCTS,ALABAMA,(D),TOTAL,01,00,ALABAMA,ANNUAL,AQUACULTURE,"CATFISH, BROODSTOCK",01,,,STATE,,,,,SALES,AL,,NOT SPECIFIED,"FOOD FISH, CATFISH, BROODSTOCK - SALES, MEASUR...",UNITED STATES,00000000,00,NaN
4,SURVEY,,,2015-07-24 15:04:27.000,FOOD FISH,ALL PRODUCTION PRACTICES,,YEAR,ALL UTILIZATION PRACTICES,9000,,2010.0,HEAD,ANIMALS & PRODUCTS,ALABAMA,(D),TOTAL,01,00,ALABAMA,ANNUAL,AQUACULTURE,"CATFISH, BROODSTOCK",01,,,STATE,,,,,SALES,AL,,NOT SPECIFIED,"FOOD FISH, CATFISH, BROODSTOCK - SALES, MEASUR...",UNITED STATES,00000000,00,NaN

In [125]:
df_veg['commodity_desc'].unique()

array(['FOOD FISH', 'DAIRY PRODUCT TOTALS', 'ICE CREAM', 'MILK', 'CATTLE',
       'GOATS', 'HOGS', 'RED MEAT', 'SHEEP', 'CHICKENS', 'EGGS', 'BISON',
       'HONEY', 'CROP TOTALS', 'FIELDWORK', 'SOIL', 'BARLEY', 'CORN',
       'COTTON', 'FIELD CROP TOTALS', 'GRAIN STORAGE CAPACITY', 'HAY',
       'HAY & HAYLAGE', 'OATS', 'PASTURELAND', 'PEANUTS', 'SORGHUM',
       'SOYBEANS', 'WHEAT', 'BLUEBERRIES', 'FRUIT & TREE NUT TOTALS',
       'PEACHES', 'PECANS', 'MELONS', 'SWEET CORN', 'SWEET POTATOES',
       'TOMATOES', 'VEGETABLE TOTALS', 'LABOR', 'RENT', 'AG LAND',
       'FARM OPERATIONS', 'ANIMAL TOTALS', 'VEGETABLES, OTHER',
       'COMMODITY TOTALS', nan, 'AQUACULTURE TOTALS', 'BAITFISH',
       'CRUSTACEANS', 'PRACTICES', 'SPORT FISH', 'WATER', 'CROPS, OTHER',
       'BEANS', 'SMALL GRAINS', 'BERRY TOTALS', 'ORCHARDS',
       'CUT CHRISTMAS TREES & SHORT TERM WOODY CROPS',
       'FLORICULTURE TOTALS', 'FOOD CROP TOTALS', 'HORTICULTURE TOTALS',
       'NURSERY TOTALS', 'PROPAGATIVE MATERIAL', 'SOD', 'LETTUCE',
       'POTATOES', 'ENERGY', 'FACILITIES & EQUIPMENT', 'PUMPS', 'WELLS',
       'BLACKBERRIES', 'PEARS', 'STRAWBERRIES', 'AQUATIC PLANTS',
       'BEDDING PLANTS, ANNUAL', 'BEDDING PLANTS, HERBACEOUS PERENNIAL',
       'BROCCOLI', 'BULBS & CORMS & RHIZOMES & TUBERS',
       'CACTI & SUCCULENTS', 'CUCUMBERS', 'CUT CHRISTMAS TREES',
       'CUT CULTIVATED GREENS', 'CUT FLOWERS',
       'DECIDUOUS FLOWERING TREES', 'DECIDUOUS SHADE TREES',
       'DECIDUOUS SHRUBS', 'EVERGREENS, BROADLEAF',
       'EVERGREENS, CONIFEROUS', 'FLOWER SEEDS',
       'FLOWERING PLANTS, POTTED', 'FOLIAGE PLANTS', 'FRUIT & NUT PLANTS',
       'HERBS', 'HORTICULTURE, OTHER', 'ORNAMENTAL GRASSES', 'PALMS',
       'PEAS', 'PEPPERS', 'TRANSPLANTS', 'VEGETABLE SEEDS',
       'WOODY ORNAMENTALS & VINES, OTHER', 'CABBAGE', 'CARROTS',
       'CAULIFLOWER', 'GARLIC', 'ONIONS', 'SQUASH', 'EXPENSE TOTALS',
       'LANDLORDS', 'MACHINERY TOTALS', 'TENANTS', 'INCOME, FARM-RELATED',
       'AG SERVICES', 'CHEMICAL TOTALS', 'FEED', 'FERTILIZER TOTALS',
       'FUELS', 'GROWING MEDIA', 'INTEREST', 'RETURNS & ALLOWANCES',
       'SEEDS & PLANTS TOTALS', 'SUPPLIES & REPAIRS', 'TAXES', 'ASSETS',
       'DEBT', 'LIVESTOCK TOTALS', 'FIGS', 'FRUIT TOTALS', 'GRAPES',
       'TREE NUT TOTALS', 'APPLES', 'PLUMS', 'CELERY', 'TURKEYS',
       'AQUACULTURE, OTHER', 'MOLLUSKS', 'ORNAMENTAL FISH',
       'FIELD CROPS, OTHER', 'CITRUS TOTALS', 'CITRUS, OTHER',
       'FOOD CROP, OTHER', 'COLD STORAGE CAPACITY', 'HEMP',
       'BEDDING PLANT TOTALS', 'COMPUTERS', 'INTERNET', 'RASPBERRIES',
       'SPINACH', 'ARTICHOKES', 'BAREROOT HERBACEOUS PERENNIALS',
       'BERRIES, OTHER', 'MUSHROOMS', 'MOHAIR', 'WOOL', 'GRAPEFRUIT',
       'LEMONS', 'ORANGES', 'TANGERINES', 'PEAS & LENTILS', 'CHERRIES',
       'PISTACHIOS', 'SPECIALTY ANIMAL TOTALS', 'CHICKPEAS', 'HAYLAGE',
       'SHORT TERM WOODY CROPS', 'DATES', 'FRUIT, OTHER', 'RICE',
       'IMPROVEMENT & CONSTRUCTION', 'MACHINERY, OTHER',
       'TRACTORS & SELF PROPELLED', 'TRUCKS & AUTOS', 'EXPENSES, OTHER',
       'POULTRY, OTHER', 'FISH', 'FISH & GIANT CLAMS', 'LIVESTOCK, OTHER',
       'POULTRY TOTALS', 'FIELD CROP & VEGETABLE TOTALS',
       'FIELD CROPS & VEGETABLES, OTHER', 'SUGARCANE', 'TARO', 'AVOCADOS',
       'BANANAS', 'BREADFRUIT', 'CACAO', 'COCONUTS',
       'FRUIT & TREE NUTS, OTHER', 'LIMES', 'MANGOES', 'PAPAYAS',
       'PINEAPPLES', 'SOURSOPS', 'BASIL', 'CASSAVA', 'CHIVES', 'CILANTRO',
       'EGGPLANT', 'KAVA', 'LAUPELE', 'PUMPKINS', 'RADISHES', 'SPROUTS',
       'YAMS', 'ELECTRICITY', 'AUTOMOBILES', 'BOATS', 'CHAIN SAWS',
       'EQUIPMENT, OTHER', 'SPRAYERS', 'STRING TRIMMERS', 'TILLERS',
       'TRACTORS', 'TRUCKS', 'WOOD CHIPPERS', 'OPERATORS', 'BUTTER',
       'BUTTERMILK', 'CHEESE', 'CREAM', 'SHERBET', 'MINT', 'SAFFLOWER',
       'SUGARBEETS', 'SUNFLOWER', 'ALMONDS', 'APRICOTS', 'KIWIFRUIT',
       'NECTARINES', 'OLIVES', 'PRUNES', 'WALNUTS', 'ASPARAGUS',
       'FLAXSEED', 'POPCORN', 'RYE', 'PLUMS & PRUNES', 'TREE NUTS, OTHER',
       'HOPS', 'MILLET', 'WILD RICE', 'COFFEE', 'HAZELNUTS', 'YOGURT',
       'CRANBERRIES', 'TRITICALE', 'MACADAMIAS', 'PRODUCERS', 'BUCKWHEAT',
       'LENTILS', 'MAPLE SYRUP', 'TOBACCO', 'TANGELOS', 'EMMER & SPELT',
       'DUCKS', 'PIGEONS & SQUAB', 'CARABAO', 'EQUINE', 'BETEL NUTS',
       'DRAGON FRUIT', 'GUAVAS', 'LEMONS & LIMES', 'STARFRUIT',
       'SWEETSOPS', 'BITTERMELON', 'GADO', 'GINGER ROOT', 'OKRA',
       'ROOT CROPS & TUBERS', 'ROOT CROPS & TUBERS, OTHER', 'CANOLA',
       'MINK', 'BUSINESS ACTIVITY', 'GRAIN', 'SNOW', 'MUSTARD', 'LEGUMES',
       'CAMELINA', 'WHEY', 'BOYSENBERRIES', 'ANIMALS, OTHER', 'GUINEAS',
       'RABBITS', 'DASHEENS', 'GRASSES', 'SILAGE', 'CHIRONJAS', 'CITRONS',
       'PASSION FRUIT', 'PLANTAINS', 'QUENEPAS', 'BULBS & ROOTS',
       'FRUIT BEARING TREES', 'ORNAMENTAL TREE SEEDLINGS', 'POINSETTIAS',
       'CORIANDER', 'HERBS & SPICES', 'ROOT CELERY', 'ROOTS & TUBERS',
       'ROOTS, OTHER', 'TANIERS', 'DEPRECIATION', 'MEDICINE & DRUGS',
       'BUILDINGS', 'COFFEE DEPULPERS', 'COFFEE DRYERS', 'COFFEE WASHERS',
       'EMERGENCY ELECTRIC GENERATORS', 'GOVT PROGRAMS', 'MILK COOLERS',
       'MILKING MACHINES', 'FARM BY-PRODUCTS & WASTE',
       'OPERATORS, PRINCIPAL', 'OPERATORS, SECOND', 'OPERATORS, THIRD',
       'SORREL'], dtype=object)

In [104]:
df.head()

,reference_period_desc,util_practice_desc,country_code,prodn_practice_desc,asd_code,commodity_desc,load_time,source_desc,county_ansi,asd_desc,...,zip_5,agg_level_desc,watershed_desc,begin_code,watershed_code,short_desc,country_name,domaincat_desc,county_code,error
0,YEAR,ALL UTILIZATION PRACTICES,9000,ORGANIC,,ANIMAL TOTALS,2015-01-31 00:00:00.000,CENSUS,,,...,,STATE,,00,00000000,"ANIMAL TOTALS, ANIMALS ONLY, ORGANIC - SALES, ...",UNITED STATES,ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT),,NaN
1,YEAR,ALL UTILIZATION PRACTICES,9000,ORGANIC,,ANIMAL TOTALS,2015-01-31 00:00:00.000,CENSUS,,,...,,STATE,,00,00000000,"ANIMAL TOTALS, ANIMALS ONLY, ORGANIC - OPERATI...",UNITED STATES,ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT),,NaN
2,YEAR,ALL UTILIZATION PRACTICES,9000,ORGANIC,,ANIMAL TOTALS,2015-01-31 00:00:00.000,CENSUS,,,...,,STATE,,00,00000000,"ANIMAL TOTALS, PRODUCTS ONLY, ORGANIC - SALES,...",UNITED STATES,ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT),,NaN
3,YEAR,ALL UTILIZATION PRACTICES,9000,ORGANIC,,ANIMAL TOTALS,2015-01-31 00:00:00.000,CENSUS,,,...,,STATE,,00,00000000,"ANIMAL TOTALS, PRODUCTS ONLY, ORGANIC - OPERAT...",UNITED STATES,ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT),,NaN
4,YEAR,ALL UTILIZATION PRACTICES,9000,ORGANIC,,MILK,2015-01-31 00:00:00.000,CENSUS,,,...,,STATE,,00,00000000,"MILK, ORGANIC - SALES, MEASURED IN $",UNITED STATES,ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT),,NaN